.popup__submit-button {
    margin: 0;
    min-height: 50px;
    color: #fff;
    background-color: black;
    width: 100%;
    padding: 0;
    border-radius: 2px;
}

.popup__submit-button:hover {
    opacity: .8;
    cursor: pointer;
}