.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    margin-top: 51px;
    box-sizing: border-box;
}

@media screen and (max-width: 760px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 19px 0;
    }
}