.profile-popup__submit-button {
    margin: 0;
    min-height: 50px;
    width: 100%;
    padding: 0;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color: black;
    
}

@media screen and (max-width:600px) {
    .profile-popup__submit-button {
        font-size: 14px;
        line-height: 17px;
    }
}

.profile-popup__submit-button:hover {
    opacity: .8;
    cursor: pointer;
  }