.form__input {
  width: 100%;
  height: 30px;
  padding: 0;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "inter", "Arial", sans-serif;
  box-sizing: border-box;
}

.form__input:last-of-type {
  /* margin-bottom: 39px; */
  margin-top: 15px;
}

.form__input:focus {
  outline: 1px solid blue;
  outline-offset: 2px;
  border-radius: 2px;
}

.form__input:invalid {
  border-bottom: 1px solid rgb(255, 0, 0);
}

.form__input:valid {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}