.profile-popup__field {
    margin: 50px 0 0;
    border: none;
    padding: 0;
    padding-bottom: 39px;
}

@media screen and (max-width: 600px) {
    .profile-popup__field {
        margin-top: 42px;
    }
}
